$primaryColor: #f3f6ff;
$secondaryColor: #2a2344;
$tertiaryColor: #a698d9;
$accentColor: #f95353;
$textColor: #1d182f;

$tablet: 900px;
$largeMobile: 580px;
$mediumMobile: 425px;
$smallMobile: 320px;
*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

//scrollbar
::-webkit-scrollbar {
	width: .6rem;
}

::-webkit-scrollbar-track {
	background-color: transparent;
}

::-webkit-scrollbar-thumb {
	border-radius: 1rem;
	background-color: $secondaryColor;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;

	@media only screen and (min-width: 1920px) {
		font-size: 70%;
	}
	@media only screen and (min-width: 2560px) {
		font-size: 100%;
	}
	@media only screen and (min-width: 3840px) {
		font-size: 150%;
	}
	@media only screen and (max-width: 1400px) {
		font-size: 55%;
	}
	@media only screen and (max-width: $tablet) {
		font-size: 45%;
	}
	@media only screen and (max-width: $largeMobile) {
		font-size: 35%;
	}
	@media only screen and (max-width: $smallMobile) {
		font-size: 27%;
	}
}

body {
	font-family: 'Nunito', sans-serif;
	font-weight: 400;
	line-height: 1.4;
	color: $textColor;

	background-color: $primaryColor;
	box-sizing: border-box;
	// background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='400' height='400' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%232a2344' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%232a2344'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");
	// background-color: #f3f6ff;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpath fill='%23eff3ff' d='M486 705.8c-109.3-21.8-223.4-32.2-335.3-19.4C99.5 692.1 49 703 0 719.8V800h843.8c-115.9-33.2-230.8-68.1-347.6-92.2C492.8 707.1 489.4 706.5 486 705.8z'/%3E%3Cpath fill='%23ebf0ff' d='M1600 0H0v719.8c49-16.8 99.5-27.8 150.7-33.5c111.9-12.7 226-2.4 335.3 19.4c3.4 0.7 6.8 1.4 10.2 2c116.8 24 231.7 59 347.6 92.2H1600V0z'/%3E%3Cpath fill='%23e6ecff' d='M478.4 581c3.2 0.8 6.4 1.7 9.5 2.5c196.2 52.5 388.7 133.5 593.5 176.6c174.2 36.6 349.5 29.2 518.6-10.2V0H0v574.9c52.3-17.6 106.5-27.7 161.1-30.9C268.4 537.4 375.7 554.2 478.4 581z'/%3E%3Cpath fill='%23e2e9ff' d='M0 0v429.4c55.6-18.4 113.5-27.3 171.4-27.7c102.8-0.8 203.2 22.7 299.3 54.5c3 1 5.9 2 8.9 3c183.6 62 365.7 146.1 562.4 192.1c186.7 43.7 376.3 34.4 557.9-12.6V0H0z'/%3E%3Cpath fill='%23dee6ff' d='M181.8 259.4c98.2 6 191.9 35.2 281.3 72.1c2.8 1.1 5.5 2.3 8.3 3.4c171 71.6 342.7 158.5 531.3 207.7c198.8 51.8 403.4 40.8 597.3-14.8V0H0v283.2C59 263.6 120.6 255.7 181.8 259.4z'/%3E%3Cpath fill='%23e5ebff' d='M1600 0H0v136.3c62.3-20.9 127.7-27.5 192.2-19.2c93.6 12.1 180.5 47.7 263.3 89.6c2.6 1.3 5.1 2.6 7.7 3.9c158.4 81.1 319.7 170.9 500.3 223.2c210.5 61 430.8 49 636.6-16.6V0z'/%3E%3Cpath fill='%23ebf0ff' d='M454.9 86.3C600.7 177 751.6 269.3 924.1 325c208.6 67.4 431.3 60.8 637.9-5.3c12.8-4.1 25.4-8.4 38.1-12.9V0H288.1c56 21.3 108.7 50.6 159.7 82C450.2 83.4 452.5 84.9 454.9 86.3z'/%3E%3Cpath fill='%23f2f5ff' d='M1600 0H498c118.1 85.8 243.5 164.5 386.8 216.2c191.8 69.2 400 74.7 595 21.1c40.8-11.2 81.1-25.2 120.3-41.7V0z'/%3E%3Cpath fill='%23f9faff' d='M1397.5 154.8c47.2-10.6 93.6-25.3 138.6-43.8c21.7-8.9 43-18.8 63.9-29.5V0H643.4c62.9 41.7 129.7 78.2 202.1 107.4C1020.4 178.1 1214.2 196.1 1397.5 154.8z'/%3E%3Cpath fill='%23ffffff' d='M1315.3 72.4c75.3-12.6 148.9-37.1 216.8-72.4h-723C966.8 71 1144.7 101 1315.3 72.4z'/%3E%3C/g%3E%3C/svg%3E");
	background-attachment: fixed;
	background-size: cover;
	// background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpath fill='%23f2f5fe' d='M486 705.8c-109.3-21.8-223.4-32.2-335.3-19.4C99.5 692.1 49 703 0 719.8V800h843.8c-115.9-33.2-230.8-68.1-347.6-92.2C492.8 707.1 489.4 706.5 486 705.8z'/%3E%3Cpath fill='%23f1f4fd' d='M1600 0H0v719.8c49-16.8 99.5-27.8 150.7-33.5c111.9-12.7 226-2.4 335.3 19.4c3.4 0.7 6.8 1.4 10.2 2c116.8 24 231.7 59 347.6 92.2H1600V0z'/%3E%3Cpath fill='%23f0f3fc' d='M478.4 581c3.2 0.8 6.4 1.7 9.5 2.5c196.2 52.5 388.7 133.5 593.5 176.6c174.2 36.6 349.5 29.2 518.6-10.2V0H0v574.9c52.3-17.6 106.5-27.7 161.1-30.9C268.4 537.4 375.7 554.2 478.4 581z'/%3E%3Cpath fill='%23eff2fb' d='M0 0v429.4c55.6-18.4 113.5-27.3 171.4-27.7c102.8-0.8 203.2 22.7 299.3 54.5c3 1 5.9 2 8.9 3c183.6 62 365.7 146.1 562.4 192.1c186.7 43.7 376.3 34.4 557.9-12.6V0H0z'/%3E%3Cpath fill='%23eef1fa' d='M181.8 259.4c98.2 6 191.9 35.2 281.3 72.1c2.8 1.1 5.5 2.3 8.3 3.4c171 71.6 342.7 158.5 531.3 207.7c198.8 51.8 403.4 40.8 597.3-14.8V0H0v283.2C59 263.6 120.6 255.7 181.8 259.4z'/%3E%3Cpath fill='%23f1f4fb' d='M1600 0H0v136.3c62.3-20.9 127.7-27.5 192.2-19.2c93.6 12.1 180.5 47.7 263.3 89.6c2.6 1.3 5.1 2.6 7.7 3.9c158.4 81.1 319.7 170.9 500.3 223.2c210.5 61 430.8 49 636.6-16.6V0z'/%3E%3Cpath fill='%23f5f7fc' d='M454.9 86.3C600.7 177 751.6 269.3 924.1 325c208.6 67.4 431.3 60.8 637.9-5.3c12.8-4.1 25.4-8.4 38.1-12.9V0H288.1c56 21.3 108.7 50.6 159.7 82C450.2 83.4 452.5 84.9 454.9 86.3z'/%3E%3Cpath fill='%23f8f9fd' d='M1600 0H498c118.1 85.8 243.5 164.5 386.8 216.2c191.8 69.2 400 74.7 595 21.1c40.8-11.2 81.1-25.2 120.3-41.7V0z'/%3E%3Cpath fill='%23fcfcfe' d='M1397.5 154.8c47.2-10.6 93.6-25.3 138.6-43.8c21.7-8.9 43-18.8 63.9-29.5V0H643.4c62.9 41.7 129.7 78.2 202.1 107.4C1020.4 178.1 1214.2 196.1 1397.5 154.8z'/%3E%3Cpath fill='%23ffffff' d='M1315.3 72.4c75.3-12.6 148.9-37.1 216.8-72.4h-723C966.8 71 1144.7 101 1315.3 72.4z'/%3E%3C/g%3E%3C/svg%3E");

	/* background by SVGBackgrounds.com */
	overflow-x: hidden;
}

.navbar {
	width: 8rem;
	// grid-area: "navbar";
	position: fixed;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	height: 100%;
	z-index: 10;
	@media only screen and (max-width: $tablet) {
		flex-direction: row;
		align-items: center;
		top: 0;
		left: 0;
		height: 10vh;
		width: 100%;
		background-color: $primaryColor;
		box-shadow: 0 3px 5px #343c4486;
	}

	@media only screen and (max-width: $largeMobile) {
		// transition: height 1s ease;

		justify-content: flex-start;
	}

	&.open {
		@media only screen and (max-width: $largeMobile) {
			height: 20vh;
			justify-content: flex-start;
			flex-direction: column;

			& .navbar-list {
				display: flex;

				height: 100%;
				width: 80%;

				&-item {
					&-link {
						display: flex;
						justify-content: space-between;
						align-items: center;
						width: 100%;

						& svg {
							width: 3rem;
							height: 3rem;
						}
						& .nav-name {
							opacity: 1;
							font-size: 3rem;
							font-weight: 600;
						}
					}
				}
			}
		}
	}

	&-logo-menu-container {
		display: flex;
		justify-content: space-between;
		align-items: center;

		@media only screen and (max-width: $largeMobile) {
			height: 100%;
			width: 100%;
		}
	}

	&-logo {
		margin: 3rem 0rem;
		@media only screen and (max-width: $tablet) {
			padding: 0rem 5rem;
		}
		& svg {
			width: 5rem;
			height: 5rem;
			& path {
				fill: $textColor;
			}
		}
	}

	&-menu {
		border: none;
		outline: none;
		&:focus {
			border: none;
		}
		display: none;
		background-color: $textColor;
		margin: 0 5rem;
		padding: 1rem;
		border-radius: 2px;
		&:hover {
			cursor: pointer;
		}

		@media only screen and (max-width: $largeMobile) {
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}

	&-list {
		margin: 5rem 0rem;
		@media only screen and (max-width: $tablet) {
			display: flex;
			justify-content: space-between;
			align-items: center;
			width: 50%;
			margin: 0rem 10rem;
		}
		@media only screen and (max-width: $largeMobile) {
			margin: 0rem;
			display: none;
		}

		&-item {
			padding: 2rem 1rem;
			@media only screen and (max-width: $tablet) {
				padding: 1rem 2rem;
			}
			@media only screen and (max-width: $largeMobile) {
				padding: 1rem 1rem;
			}

			&-link,
			&-link:visited,
			&-link:link {
				text-decoration: none;
				color: $textColor;
				font-size: 2rem;
				font-weight: 600;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				// margin: .5rem 0rem;

				@media only screen and (min-width: 581px) {
					position: relative;
					&:hover {
						& svg {
							opacity: 0;
						}
						& .nav-name {
							opacity: 1;
						}
					}
				}

				& svg {
					height: 2.7rem;
					width: 2.7rem;
					transition: all .4s ease-in;
				}
				& .nav-name {
					color: $textColor;
					font-size: 1.5rem;
					letter-spacing: .2rem;
					opacity: 0;
					padding: .5rem 0rem;

					@media only screen and (min-width: 581px) {
						position: absolute;
						transition: all .4s ease-in;
					}
					// height: 100%;
					// width: 100%;
					// top: 0;
					// left: 0;
				}
			}
		}
	}

	.vl {
		height: 100%;
		background-color: $textColor;
		width: .2rem;
		border-radius: .05rem;
		@media only screen and (max-width: $tablet) {
			height: .2rem;
			width: 30vw;
		}
		@media only screen and (max-width: $largeMobile) {
			display: none;
		}
	}
}

.main-content {
	padding: 0rem 8rem;
	margin-left: 8rem;
	@media only screen and (max-width: $tablet) {
		margin: 0rem;
		margin-top: 8rem;
		padding: 0rem 5rem;
	}

	@media only screen and (max-width: 470) {
		padding: 0rem 2rem;
	}
}

.header {
	display: flex;
	justify-content: space-evenly;
	// align-items: center;
	height: 100vh;
	width: 100%;
	transform: translateY(-40px);

	&-source-code {
		font-family: 'Source Code Pro', 'Nunito', sans-serif;
	}

	@media only screen and (max-width: 1100px) {
		transform: translateY(0);
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		// padding: rem 0rem;
		padding: 3rem 0rem;
	}

	@media only screen and (max-width: $largeMobile) {
		justify-content: center;
		transform: translateY(-40px);
	}

	&-svg {
		// height: 100%;

		display: flex;
		justify-content: center;
		align-items: center;
		// position: relative;
		// background: url('../res/svg/Me_Background.svg') no-repeat;
		// background-size: contain;

		&-image {
			height: 37rem;
			@media only screen and (max-width: 1200px) {
				display: none;
			}
			&.small-screen {
				display: none;
				height: 35rem;
				@media only screen and(max-width:1200px) {
					display: block;
				}
			}
		}
	}

	&-content {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		width: 100%;

		@media only screen and (max-width: 1100px) {
			order: 2;
			justify-content: center;
			align-items: center;
		}
		// @media only screen and (max-width: $largeMobile) {
		// }
		&-text {
			margin: 5rem 0rem;
			display: flex;
			flex-direction: column;
			justify-content: space-evenly;
			align-items: flex-start;
			line-height: 1.5;
			letter-spacing: -.3rem;
			@media only screen and (max-width: $largeMobile) {
				align-items: center;
			}
			& .typewriter {
				width: 0;
				border-right: 2px solid $textColor;
			}
			&-large {
				font-size: 4.5rem;
				font-weight: 300;
				width: 7rem;
				position: relative;
				white-space: nowrap;
				overflow: hidden;
				// transform: translateY(-50%);
				box-sizing: content-box;

				@media only screen and (max-width: $largeMobile) {
					font-size: 3.5rem;
				}
			}

			&-extra-large {
				font-size: 7rem;
				font-weight: 400;
				letter-spacing: -.5rem;
				@media only screen and (max-width: $largeMobile) {
					font-size: 6rem;
				}
				@media only screen and (max-width: 400px) {
					font-size: 5rem;
				}
			}
			&-medium {
				font-size: 4rem;
				font-weight: 300;
				@media only screen and (max-width: $largeMobile) {
					font-size: 3rem;
					font-weight: 600;
				}
			}
		}

		&-button-list {
			margin: 3rem 0rem;
			display: flex;
			justify-content: flex-start;
			align-items: center;
		}
	}
}

.icon-button {
	&:visited,
	&:link {
		text-decoration: none;
	}

	height: 100%;
	width: 100%;

	& img {
		width: 3rem;
		height: 3rem;
	}

	&.large img {
		width: 4rem;
		height: 4rem;
	}
}

.button {
	&:visited,
	&:link {
		text-decoration: none;
	}

	text-decoration: none;
	font-size: 1.5rem;
	padding: 1rem 1.5rem;

	&.primary {
		color: $primaryColor;
		background-color: $textColor;
		font-weight: 600;
	}

	&.slideIn {
		color: $textColor;
		box-shadow: inset 0 0 0 0 $textColor;
		border: .1rem solid $textColor;
		transition: all .3s ease-in;

		&:hover {
			box-shadow: inset 400px 0 0 0 $textColor;
			color: $primaryColor;
		}
	}

	&.call-to-action {
		padding: 1.7rem 2rem;
		font-size: 2rem;

		letter-spacing: .05rem;
		position: relative;
		color: $primaryColor;
		// background-color: #1d182f3a;
		border: 2px solid $textColor;

		@media only screen and (max-width: 1100px) {
			background-color: $textColor;
			position: static;
			&::after {
				display: none;
			}
		}

		&::after {
			// z-index: -1;
			content: 'Check Out My Work';
			padding: 1.7rem 2rem;
			transform: scale(1.05);
			position: absolute;
			top: -1.5rem;
			left: 2rem;
			background-color: $textColor;
			height: 100%;
			width: 100%;
			transition: all .2s ease-in;
		}
		&:hover {
			&::after {
				top: 0rem;
				left: 0rem;
			}
		}
	}
}

.about {
	// background-color: $secondaryColor;

	display: flex;
	flex-direction: column;
	justify-content: flex-start;

	border-radius: .5rem;
	margin: 6rem 0rem;

	&-header {
		&-text {
			font-size: 4rem;
			color: $textColor;
			//font-weight: 300;
		}
	}

	&-box {
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		@media only screen and (max-width: $largeMobile) {
			flex-direction: column;
			width: 100%;
		}
	}

	&-content {
		width: 45%;
		height: 100%;
		display: flex;
		font-weight: 400;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
		@media only screen and (max-width: $largeMobile) {
			order: 2;
			width: 100%;
		}

		// @media only screen and (max-width: 700px) {
		// 	// width: 70%;
		// }

		&-description {
			margin: 2rem 0rem;
			@media only screen and (max-width: 400px) {
				margin: 1rem 0rem;
			}
			&-text {
				font-size: 1.7rem;
				font-weight: 600;
				line-height: 1.7;
				@media only screen and (max-width: 700px) {
					font-size: 1.4rem;
				}
				@media only screen and (max-width: $largeMobile) {
					font-size: 2rem;

					line-height: 1.3;
				}
			}
		}
	}

	&-image-box {
		margin: 3rem 10rem;
		position: relative;
		height: 30rem;
		width: 30rem;

		@media only screen and (max-width: 700px) {
			margin: 3rem 5rem;
			height: 25rem;
			width: 25rem;
		}

		&-background {
			position: absolute;
			background: rgba(112, 94, 179, 0.1);
			box-shadow: 1rem 1rem 1rem rgba(47, 39, 75, 0.03);
			height: 100%;
			width: 100%;
			top: 2rem;
			left: -3rem;
			border-radius: 5px;
		}
		&-photo {
			background: url('../res/images/Me.jpg') no-repeat;
			background-size: contain;
			border-radius: 5px;
			position: absolute;
			z-index: 2;
			height: 100%;
			width: 100%;
		}
	}
}

.skills {
	margin: 6rem 0rem;
	&-heading {
		// text-align: center;
		font-size: 4rem;
	}
	&-list {
		display: grid;
		grid-template-columns: repeat(3, 33.3%);
		grid-template-rows: repeat(2, auto);

		align-items: center;
		justify-content: space-evenly;
		align-content: flex-start;

		@media only screen and (max-width: $largeMobile) {
			grid-template-columns: repeat(2, 50%);
			grid-template-rows: repeat(3, auto);
		}

		&-item {
			border-radius: .5rem;
			background-color: #1d182f;
			color: $primaryColor;
			box-shadow: 1rem 1rem 1rem rgba(47, 39, 75, 0.03);
			margin: 1rem 2rem;
			padding: 2rem;
			position: relative;
			text-align: center;
			z-index: 1;

			border-radius: 10px;

			& .skill-icon {
				width: 6rem;
				height: 6rem;
				@media only screen and (max-width: $largeMobile) {
					width: 4.5rem;
					height: 4.5rem;
				}
			}
			& .skills-name {
				font-weight: 200;
				font-size: 2.5rem;
				@media only screen and (max-width: $largeMobile) {
					font-size: 1.7rem;
				}
			}

			& .html-css-holder {
				position: relative;

				& .css {
					position: absolute;
					top: 23%;
					// z-index: -1;
					left: 48%;
				}
			}
		}
	}
}

.work {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: flex-start;
	border-radius: .5rem;
	margin: 6rem 0rem;

	&-header {
		&-text {
			font-size: 4rem;
			color: $textColor;
			//font-weight: 300;
		}
	}

	&-content {
		align-self: center;
		display: grid;
		padding: 5rem 0rem;
		width: 80%;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: auto;
		justify-content: center;
		align-items: center;
		align-content: center;
		& .work-item {
			// display: flex;
			// justify-content: space-between;
			// align-items: stretch;
			// margin: 2rem 0rem;
			padding: 2rem;
			@media only screen and (max-width: $largeMobile) {
				width: 90%;
			}
			&-image {
				width: 100%;

				& img {
					width: 100%;
					height: auto;
				}
			}
			// &-description {
			// 	width: 40%;
			// 	padding: 2rem 5rem;
			// 	display: flex;
			// 	flex-direction: column;
			// 	justify-content: space-evenly;
			// 	@media only screen and (max-width: $largeMobile) {
			// 		padding: 2rem 1rem;
			// 	}
			// 	&-header {
			// 		font-size: 2.5rem;
			// 		@media only screen and (max-width: $largeMobile) {
			// 			font-size: 2.2rem;
			// 		}
			// 	}
			// 	&-sub-header {
			// 		font-size: 2rem;
			// 		font-weight: 300;
			// 		@media only screen and (max-width: $largeMobile) {
			// 			font-size: 1.7rem;
			// 		}
			// 	}
			// 	&-text {
			// 		font-size: 1.7rem;
			// 		@media only screen and (max-width: $largeMobile) {
			// 			font-size: 1.4rem;
			// 		}
			// 	}
			// }
		}
	}
}

.footer {
	// background-color: $secondaryColor;
	width: 100%;

	display: flex;
	padding: 5rem 5rem;
	justify-content: space-between;
	align-items: center;

	& .copyright {
		&-text {
			font-size: 1.5rem;
			font-weight: 600;
		}
	}

	.contact-list {
		width: 8rem;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}
