*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

::-webkit-scrollbar {
  width: .6rem;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background-color: #2a2344;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

@media only screen and (min-width: 1920px) {
  html {
    font-size: 70%;
  }
}

@media only screen and (min-width: 2560px) {
  html {
    font-size: 100%;
  }
}

@media only screen and (min-width: 3840px) {
  html {
    font-size: 150%;
  }
}

@media only screen and (max-width: 1400px) {
  html {
    font-size: 55%;
  }
}

@media only screen and (max-width: 900px) {
  html {
    font-size: 45%;
  }
}

@media only screen and (max-width: 580px) {
  html {
    font-size: 35%;
  }
}

@media only screen and (max-width: 320px) {
  html {
    font-size: 27%;
  }
}

body {
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  line-height: 1.4;
  color: #f3f6ff;
  background-color: #1d182f;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='400' height='400' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%232a2344' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%232a2344'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");
  /* background by SVGBackgrounds.com */
  overflow-x: hidden;
}

.navbar {
  width: 8rem;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  z-index: 10;
}

@media only screen and (max-width: 900px) {
  .navbar {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    top: 0;
    left: 0;
    height: 10rem;
    width: 100%;
    background-color: #1d182f;
    -webkit-box-shadow: 0 3px 5px #120f1d;
            box-shadow: 0 3px 5px #120f1d;
  }
}

@media only screen and (max-width: 580px) {
  .navbar {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.navbar-logo {
  margin: 3rem 0rem;
}

@media only screen and (max-width: 900px) {
  .navbar-logo {
    padding: 0rem 5rem;
  }
}

.navbar-logo svg {
  width: 5rem;
  height: 5rem;
}

.navbar-logo svg path {
  fill: #f3f6ff;
}

.navbar-menu {
  display: none;
  background-color: #f3f6ff;
  margin: 0 5rem;
  padding: 1rem;
}

@media only screen and (max-width: 580px) {
  .navbar-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.navbar-list {
  margin: 10rem 0rem;
}

@media only screen and (max-width: 900px) {
  .navbar-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 50%;
    margin: 0rem 10rem;
  }
}

@media only screen and (max-width: 580px) {
  .navbar-list {
    display: none;
  }
}

.navbar-list-item {
  padding: 1rem 1rem;
}

@media only screen and (max-width: 900px) {
  .navbar-list-item {
    padding: 1rem 2rem;
  }
}

.navbar-list-item-link, .navbar-list-item-link:visited, .navbar-list-item-link:link {
  text-decoration: none;
  color: #f3f6ff;
  font-size: 2rem;
  font-weight: 300;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar-list-item-link svg, .navbar-list-item-link:visited svg, .navbar-list-item-link:link svg {
  height: 2.7rem;
  width: 2.7rem;
}

.navbar-list-item-link .nav-name, .navbar-list-item-link:visited .nav-name, .navbar-list-item-link:link .nav-name {
  color: #f3f6ff;
  font-size: 1.5rem;
  letter-spacing: .2rem;
  opacity: 0;
  padding: .5rem 0rem;
}

@media only screen and (max-width: 900px) {
  .navbar-list-item-link .nav-name, .navbar-list-item-link:visited .nav-name, .navbar-list-item-link:link .nav-name {
    opacity: 1;
  }
}

.navbar .vl {
  height: 100%;
  background-color: #f3f6ff;
  width: .2rem;
  border-radius: .05rem;
}

@media only screen and (max-width: 900px) {
  .navbar .vl {
    height: .2rem;
    width: 30vw;
  }
}

@media only screen and (max-width: 580px) {
  .navbar .vl {
    display: none;
  }
}

.main-content {
  padding: 0rem 10rem;
  margin-left: 8rem;
}

@media only screen and (max-width: 900px) {
  .main-content {
    margin: 0rem;
    margin-top: 8rem;
    padding: 0rem 5rem;
  }
}

@media only screen and (max-width: 470) {
  .main-content {
    padding: 0rem 2rem;
  }
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
}

.header-source-code {
  font-family: 'Source Code Pro', 'Nunito', sans-serif;
}

.header-svg {
  margin: 0rem 5rem;
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 1200px) {
  .header-svg {
    display: none;
  }
}

.header-svg-image {
  height: 55rem;
}

.header-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 70%;
}

@media only screen and (max-width: 1200px) {
  .header-content {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.header-content-text {
  margin: 3rem 0rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  line-height: 1.3;
  letter-spacing: -.3rem;
}

.header-content-text-large {
  font-size: 4.5rem;
  font-weight: 300;
}

@media only screen and (max-width: 580px) {
  .header-content-text-large {
    font-size: 3.5rem;
  }
}

.header-content-text-extra-large {
  font-size: 7rem;
  font-weight: 400;
}

@media only screen and (max-width: 580px) {
  .header-content-text-extra-large {
    font-size: 6rem;
  }
}

@media only screen and (max-width: 400px) {
  .header-content-text-extra-large {
    font-size: 5rem;
  }
}

.header-content-text-medium {
  font-size: 4rem;
  font-weight: 300;
}

@media only screen and (max-width: 580px) {
  .header-content-text-medium {
    font-size: 3rem;
  }
}

.header-content-button-list {
  margin: 3rem 0rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.icon-button {
  height: 100%;
  width: 100%;
}

.icon-button:visited, .icon-button:link {
  text-decoration: none;
}

.icon-button img {
  width: 3rem;
  height: 3rem;
}

.icon-button.large img {
  width: 4rem;
  height: 4rem;
}

.button {
  text-decoration: none;
  font-size: 1.5rem;
  padding: 1rem 1.5rem;
}

.button:visited, .button:link {
  text-decoration: none;
}

.button.primary {
  color: #1d182f;
  background-color: #f3f6ff;
  font-weight: 600;
}

.button.slideIn {
  color: #f3f6ff;
  -webkit-box-shadow: inset 0 0 0 0 #f3f6ff;
          box-shadow: inset 0 0 0 0 #f3f6ff;
  border: 0.1rem solid #f3f6ff;
  -webkit-transition: all .3s ease-in;
  transition: all .3s ease-in;
}

.button.slideIn:hover {
  -webkit-box-shadow: inset 400px 0 0 0 #f3f6ff;
          box-shadow: inset 400px 0 0 0 #f3f6ff;
  color: #1d182f;
}

.button.call-to-action {
  padding: 1.7rem 2rem;
  font-size: 2rem;
  letter-spacing: .05rem;
  position: relative;
  color: #1d182f;
  background-color: #f3f6ff96;
}

@media only screen and (max-width: 1200px) {
  .button.call-to-action {
    background-color: #f3f6ff;
    position: static;
  }
  .button.call-to-action::after {
    display: none;
  }
}

.button.call-to-action::after {
  content: 'Check Out My Work';
  padding: 1.7rem 2rem;
  position: absolute;
  top: -2rem;
  left: 2rem;
  background-color: #f3f6ff;
  height: 100%;
  width: 100%;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
}

.button.call-to-action:hover::after {
  top: 0rem;
  left: 0rem;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  border-radius: .5rem;
}

.about-header-text {
  font-size: 4rem;
  color: #f3f6ff;
}

.about-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 400px) {
  .about-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
}

.about-content {
  width: 45%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media only screen and (max-width: 400px) {
  .about-content {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    width: 100%;
  }
}

.about-content-description {
  margin: 2rem 0rem;
}

@media only screen and (max-width: 400px) {
  .about-content-description {
    margin: 1rem 0rem;
  }
}

.about-content-description-text {
  font-size: 1.7rem;
  line-height: 1.7;
}

@media only screen and (max-width: 700px) {
  .about-content-description-text {
    font-size: 1.4rem;
  }
}

.about-image-box {
  margin: 3rem 10rem;
  position: relative;
  height: 30rem;
  width: 30rem;
}

@media only screen and (max-width: 700px) {
  .about-image-box {
    margin: 3rem 5rem;
    height: 25rem;
    width: 25rem;
  }
}

.about-image-box-background {
  position: absolute;
  background: rgba(112, 94, 179, 0.1);
  -webkit-box-shadow: 1rem 1rem 1rem rgba(47, 39, 75, 0.03);
          box-shadow: 1rem 1rem 1rem rgba(47, 39, 75, 0.03);
  height: 100%;
  width: 100%;
  top: 2rem;
  left: -3rem;
  border-radius: 5px;
}

.about-image-box-photo {
  border-radius: 5px;
  position: absolute;
  z-index: 2;
  height: 100%;
  width: 100%;
}

.skills {
  margin: 6rem 0rem;
}

.skills-heading {
  font-size: 4rem;
}

.skills-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (33.3%)[3];
      grid-template-columns: repeat(3, 33.3%);
  -ms-grid-rows: (auto)[2];
      grid-template-rows: repeat(2, auto);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-line-pack: start;
      align-content: flex-start;
}

.skills-list-item {
  border-radius: .5rem;
  background: rgba(89, 74, 141, 0.2);
  -webkit-box-shadow: 1rem 1rem 1rem rgba(47, 39, 75, 0.03);
          box-shadow: 1rem 1rem 1rem rgba(47, 39, 75, 0.03);
  margin: 1rem 2rem;
  padding: 2rem;
  position: relative;
  text-align: center;
  z-index: 1;
  border-radius: 10px;
}

.skills-list-item .skills-backdrop {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  background-image: url("data:image/svg+xml,%3Csvg width='100' height='100' viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 18c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm48 25c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm-43-7c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm63 31c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM34 90c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm56-76c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM12 86c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm28-65c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm23-11c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-6 60c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm29 22c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zM32 63c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm57-13c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-9-21c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM60 91c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM35 41c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM12 60c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2z' fill='%23f3f6ff' fill-opacity='0.12' fill-rule='evenodd'/%3E%3C/svg%3E");
}

.skills-list-item .skill-icon {
  width: 6rem;
  height: 6rem;
}

@media only screen and (max-width: 580px) {
  .skills-list-item .skill-icon {
    width: 4.5rem;
    height: 4.5rem;
  }
}

.skills-list-item .skills-name {
  font-weight: 200;
  font-size: 2.5rem;
}

@media only screen and (max-width: 580px) {
  .skills-list-item .skills-name {
    font-size: 1.7rem;
  }
}

.skills-list-item .html-css-holder {
  position: relative;
}

.skills-list-item .html-css-holder .css {
  position: absolute;
  top: 23%;
  left: 48%;
}

.work {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  border-radius: .5rem;
}

.work-header-text {
  font-size: 4rem;
  color: #f3f6ff;
}

.work-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.work-content .work-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  margin: 5rem 0rem;
  background: rgba(89, 74, 141, 0.2);
  -webkit-box-shadow: 1rem 1rem 1rem rgba(47, 39, 75, 0.03);
          box-shadow: 1rem 1rem 1rem rgba(47, 39, 75, 0.03);
  width: 75%;
}

@media only screen and (max-width: 580px) {
  .work-content .work-item {
    width: 90%;
  }
}

.work-content .work-item-image {
  width: 50rem;
  height: 31rem;
}

@media only screen and (max-width: 580px) {
  .work-content .work-item-image {
    width: 40rem;
    height: 25rem;
  }
}

.work-content .work-item-image img {
  width: 100%;
  height: 100%;
}

.work-content .work-item-description {
  width: 40%;
  padding: 2rem 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

@media only screen and (max-width: 580px) {
  .work-content .work-item-description {
    padding: 2rem 1rem;
  }
}

.work-content .work-item-description-header {
  font-size: 2.5rem;
}

@media only screen and (max-width: 580px) {
  .work-content .work-item-description-header {
    font-size: 2.2rem;
  }
}

.work-content .work-item-description-sub-header {
  font-size: 2rem;
  font-weight: 300;
}

@media only screen and (max-width: 580px) {
  .work-content .work-item-description-sub-header {
    font-size: 1.7rem;
  }
}

.work-content .work-item-description-text {
  font-size: 1.7rem;
}

@media only screen and (max-width: 580px) {
  .work-content .work-item-description-text {
    font-size: 1.4rem;
  }
}

.footer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5rem 5rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .copyright-text {
  font-size: 1.5rem;
  font-weight: 300;
}

.footer .contact-list {
  width: 8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=main.css.map */